.gbuttonparent{
    height:50px;
    width:240px;
    background-color: #4285f4;
    border: none;
    color: #fff;
    border-radius: 1px;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 2px 4px 0 #00000040;
}
.abcRioButtonContentWrapper{
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
}
.abcRioButtonIcon{
    padding: 15px;
    background-color: #fff;
    border-radius: 1px;
    float: left;
}
.giconwrapper{
    width: 18px;
    height: 18px;
}
.abcRioButtonContents{
    font-size: 16px;
    line-height: 48px;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
}