@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body {
    width: 600px;
    height: 600px;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
}

code {
    font-family: 'League Spartan', sans-serif;
}
#app-container{
    width: 100%;
    height: 100%;
}