.loading {
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-text {
	line-height: 100px;
}
.loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #0065ff;
    font-weight: 900;
    font-size: 15px;
}
.loading-text span:nth-child(1){
    filter: blur(0px);
    animation: blur-text 1.5s 0.5s infinite linear alternate;
}
.loading-text span:nth-child(2){
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(3){
    filter: blur(0px);
    animation: blur-text 1.5s 1.5s infinite linear alternate;
}
.loading-text span:nth-child(4){
    filter: blur(0px);
    animation: blur-text 1.5s 2s infinite linear alternate;
}
.loading-text span:nth-child(5){
    filter: blur(0px);
    animation: blur-text 1.5s 2.5s infinite linear alternate;
}
.loading-text span:nth-child(6){
    filter: blur(0px);
    animation: blur-text 1.5s 3s infinite linear alternate;
}
.loading-text span:nth-child(7){
    filter: blur(0px);
    animation: blur-text 1.5s 3.5s infinite linear alternate;
}

@keyframes blur-text {
	0% {filter: blur(0px);}
	100% {filter: blur(4px);}
}
